/*habilitacion del smooth scroll*/
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Colores y estilos generales*/
body{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
/*Colores seccion Quienes somos*/
#avion,  #montana, #ruta{
    padding-top: 15px;
    background-color: #00d0ff;
    text-align: center;
}
/*Colores sección Destacados, footer y boton enviar*/
.card, footer, .btn{
    background-color: #00d0ff;
}
/*Color de los iconos de redes sociales*/
#vinculitos{
    color: white;
}
#tarjetas_destacados img {
    height: 200px;
}